{% extends 'base.html' %}
{% block body %}

<!--{{i.name}}&#45;&#45;&#45;&#45;&ndash;&gt;{{i.desc}}&#45;&#45;&ndash;&gt;{{i.year}}<br>-->

<!--<a href="movie/{{i.id}}">{{i.name}}</a><br>-->
<div class="container" style="color:#000000;
            margin-top:10px;
            margin-right:10px;
            padding-right:1px;
            padding-left:1px;">
    <div class="row" >
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;" >
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" height="300">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <a href="{% url 'movieapp:details' i.id %}" class="btn btn-primary">Select</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
